html, body, #App, .height-fix{
	height: 100%;
}

body{
	transition: all 1s ease;
}

body.splash,body.splash, body.authentication, body.logining{

	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

#header{
	height: 50px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.0625);
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
	.bar-right {
	    display: flex;
	    flex-direction: row-reverse;
	    flex-wrap: nowrap;
	    justify-content: flex-end;
	    align-items: center;
	    align-content: center;
	    height: 100%;
	    .bar-item {
	        padding: 0 0 0 15px;
	        .avater{
			    border-radius: 50%;
			    background-size: cover;
			    //display: inline-block;
			    display:block;
			    height: 32px;
			    width: 32px;
			}
	    }
	}
}

#sideMenu{
	&.sideMenu-modal{
		position:absolute;
		right:0;
		top:0;
		left:0;
		bottom:0;
		z-index:999;
		transition: all 1s ease;

		&.sideMenu-modal-show{
			display:block;
			background-color:rgba(0,0,0,0.5);
		}
		&.sideMenu-modal-hide{
			display:none;
			background-color:rgba(0,0,0,0);
		}
	}
}

@import "font_quarterinch.less";