#header{
	height: 50px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.0625);
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
	.bar-right {
	    display: flex;
	    flex-direction: row-reverse;
	    flex-wrap: nowrap;
	    justify-content: flex-end;
	    align-items: center;
	    align-content: center;
	    height: 100%;
	    .bar-item {
	        padding: 0 0 0 15px;
	        .avater{
			    border-radius: 50%;
			    background-size: cover;
			    display: inline-block;
			    height: 32px;
			    width: 32px;
			}
	    }
	}
}