@headerHeight: 50px;
@footerHeight: 50px;

html, body, #App, .height-fix{
	height: 100%;
}

body{
	transition: all 1s ease;
	&.has-header{
		padding-top: @headerHeight;
	}
}

body.splash,body.splash, body.authentication, body.logining{
	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

#header{
	height: @headerHeight;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.0625);
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

	.bar-right {
	    display: flex;
	    flex-direction: row-reverse;
	    flex-wrap: nowrap;
	    justify-content: flex-end;
	    align-items: center;
	    align-content: center;
	    height: 100%;
	    .bar-item {
	        padding: 0 0 0 15px;
	        .avater{
			    border-radius: 50%;
			    background-size: cover;
			    //display: inline-block;
			    display:block;
			    height: 32px;
			    width: 32px;
			}
	    }
	}
}

#footer{
	height: @footerHeight;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.0625);
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#sideMenu{
	&.sideMenu-modal{
		position:absolute;
		right:0;
		top:0;
		left:0;
		bottom:0;
		z-index:1500;
		background-color:rgba(0,0,0,0.5);
		display:none;
	}
}

@import "font_quarterinch.less";